{% extends "AppCoder/layout.html" %}

{% load static %}

{% block contenidoQueCambia %}


    {% for p in profesores %}

        <li>{{p}}</li>  
            <a href="{% url 'EliminarProfesor' p.nombre %}" class="btn btn-danger" style="margin-left:10px; font-size: 15px;"> Eliminar</a>
            <a href="{% url 'EditarProfesor' p.nombre %}"  class="btn btn-success" style="margin-left:10px; font-size: 15px;"> Editar</a>
            <a href="profesores" class="btn btn-primary" style="margin-left:10px; font-size: 15px;">Agregar otro Profesor</a>
    {% endfor %}

    <br>
    

    
{% endblock %}